.openreceipt-view {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 var(--lumo-space-l);
}
.openreceipt-view .button-layout {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-m);
}
.product-dialog-style vaadin-text-field {
    padding-right: 2px;
}

.product-dialog-style vaadin-button {
    margin-right: 5px;
}